/*
* @section Slider
*/
.tm-post-carousel-widget {
	padding: 10px;
	
	.swiper-slide {
		font-size: 12px;
		font-family: Verdana, sans-serif;
	}
	
	.slider-description {
		 text-align: center;
		font-size: 11px;
		background: #fff;

		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

}